.dashboard {
  padding: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
}

.dashboard-card {
  background: #f4f4f4;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}